body{
    display: flex;
    justify-content: center;
}
.navbar{
    margin-top: 10px;
    background-color: rgb(14, 7, 56);
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-left: 60%;
}
.titulo{
    margin: 120px 0 0 6px;
}
.container{
    margin: 10px 0px 0px 6px;
    padding-bottom: 10px;
    background-color: aliceblue;
    border: 1px solid rgb(197, 203, 209);
    border-radius: 5px;
    
}
.resultado{
    height: 200px;
    width: 300px;
    background-color: aliceblue;
    margin-top: 178px;
    border: 1px solid rgb(197, 203, 209);
    border-radius: 5px;
}
.form-floating{
    margin-top: 7px;
    margin-bottom: 30px;
}
#origem{
    margin-left: 1%;
}
#valor{
    margin-left: 14%;
}
#destino{
    margin-left: 30%;
}
#valorInput{
    border: 1px solid rgb(197, 203, 209);
    border-radius: 5px;
}
.btn{
    height: 50%;
    background-color: rgb(47, 42, 71);
}


